
<div class="wrapper">
  <div class="subBox">
    <h1>Solutions Engineer</h1>
    <div class="boxText">
      <h3>Before I can heal your aura...<br>Before I can tell you about secret
        chakras 8-12...<br>You must first pass a test of patience.<br>The information
        you seek will appear below after one hour.</h3>
      <h3>Go.</h3>
      <h3>Meditate.</h3>
      <h3>Return.</h3>
      <h3>Your path will become clear.</h3>
    </div>
  </div>
</div>

<button ng-click="engineer.goHome()">
  Home
</button>
