<!-- <h2 class="whiteText">Over the years, Rory Gilmore has done some kissing with a number of cute boys.</h2>

<p class="whiteText">{{home.message}}</p> -->


<div class="primeContainer">
  <div class="container">
    <div id="crystals" class="box" ng-click="home.goToCrystals()">
      <div class="picHolder"></div>
      <h3 class="boxTitle">Spiritual Healer?</h3>
    </div>
    <div id="engineer" class="box" ng-click="home.goToEngineer()">
      <h3 class="boxTitle">Solutions Engineer?</h3>
    </div>
    <div id="dreaming" class="box" ng-click="home.goToDreaming()">
      <h3 class="boxTitle">Manifestation of Your Subconscious?</h3>
    </div>
  </div>
</div>
