<!-- <h2 class="whiteText">Over the years, Rory Gilmore has done some kissing with a number of cute boys.</h2>

<p class="whiteText">{{home.message}}</p> -->


<div class="primeContainer">
  <div class="container">
    <div id="crystals" class="box" ng-click="home.goToCrystals()">
      <h3 class="boxTitle">What about this shit?</h3>
    </div>
    <div id="engineer" class="box" ng-click="home.goToEngineer()">
      <!-- <p>And a whole bunch more bullshit here, obviously.... ugfieuwgfweufgyu ykyvk
      khfrkuygfkruygfkwugfr erfhiuriu ef fr f fr fr f fr fr frfr
      </p> -->
    </div>
    <div id="dreaming" class="box" ng-click="home.goToDreaming()">
      <!-- <p>(bs)</p> -->
    </div>
  </div>
</div>
