body {
  background-color: black;
  text-align: center;
  font-family: didot;
  color: grey;
  /*position: relative;*/
}

.jumbotron {
  font-family: didot;
  background-color: black;
  height: 150px;
}

#footer {
  margin-top: 10px;
  /*position: absolute;*/
  /*bottom: 0px;*/
}

.bioPic {
  float: left;
  margin-left: 70px;
  margin-right: 30px;
}

.bio {
  margin-right: 40px;
  text-align: left;
  font-size: 25px;
  color: white;
}

h2 {
  /*margin-bottom: 30px;*/
}

.backdrop {
  display: flex;
  position: absolute;
  z-index: -1;
}

.whiteText {
  color: white;
}

.primeContainer {
  height: 100%;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /*align-items: stretch;*/
}

.container {
  /*align-items: center;
  justify-content: center;*/
  flex: 1;
  display: flex;
  /*height: 100%;*/
}

.box {
  height: 500px;
  margin: 4px;
  padding: 10px;
  flex: 1;
  border-style: solid;
  border-color: grey;
}

#crystals {
  background: url("../../images/healing-crystal.jpg");
  background-size: 100% 100%;
}

#engineer {
  background: url("../../images/Handshake-City.jpg");
  background-size: 100% 100%;
  /*max-width: 100%;
  max-height: 100%;*/
}

#dreaming {
  background: url("../../images/fairytree.jpg");
  background-size: 100% 100%;
}

.jumbotron {
  padding: 10px;
  height: 55px;
}
